extends layout

block title
  h1= user.req

block content
  form(action="/user/#{user.id}", method="post")
    input(type="hidden" name="_method" value="put")
    label Name:
      input(type="text", name="user[name]" value=user.name)
    input(type="submit", value="Update"
